/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

div.jumbotron {
  background-image: url('../images/Atlanta_Skyline.jpg');
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#portfolio_jumbo {
  background-image: url('../images/Atlanta_Skyline.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
